.title1 {
  font-family: "DM Sans", serif;
  font-size: 70px !important;
  line-height: 1;
  font-weight: 600;

  background: linear-gradient(45deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 43%, 1) 100%);
  -webkit-background-clip: text;       
  -webkit-text-fill-color: transparent; 
  background-clip: text;                
  color: transparent;     
  
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.sub-text {
  font-weight: 200;
  font-family: "DM Sans", serif;
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 3rem;
}
.develop{
  border: 0.1px solid white;
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;

  background:linear-gradient(90deg, hsla(220, 92%, 42%, 1) 0%, hsla(238, 52%, 37%, 1) 100%);
}
.design{
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

/* Responsive Media Queries */

@media screen and (max-width: 1025px) {
  .title1 {
    font-size: 50px !important;
  }
  .wrapper {
    max-width: 98% !important;
  }
}

